---
interface Props {
  text: string;
}

const { text } = Astro.props;

const mailText = 'De mientras... ¡Clica aquí y Hablemos!'
---

<div class="joystix p-10 text-center text-2xl bg-[#49FDFD] bg-opacity-85 border-4 border-gray-500 wave-text rounded-md">
  <p>
    {text.split('').map((letter, index) => (
      <span class="wave-letter text-white rainbow" style={`--i: ${index}`}>
        {letter}
      </span>
    ))}
  </p>
  <a href="mailto:amazuelos92@gmail.com" class="joystix text-white text-lg ">{mailText}</a>
</div>