@keyframes rainbow {
  0% { color: red; }
  25% { color: orange; }
  50% { color: violet; }
  75% { color: green; }
  100% { color: blue; }
}

@keyframes rainbow-reverse {
  0% { color: white; }
  25% { color: green; }
  50% { color: violet; }
  75% { color: orange; }
  100% { color: blue; }
}

.hover\:animate-rainbow:hover {
  animation: rainbow 5s infinite; /* Cambia el valor de duración y la iteración según sea necesario */
}
